.homepage-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.homepage-background{
    background: url('../assets/coins.jpeg');
    background-position: center;
    background-repeat: none;
    background-size: cover;
    height: auto;
    min-height: 77vh;
    width: 85vw;
    margin: 48px 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 16px;
    box-shadow: 3px 3px 9px var(--primary-bg-color);
    z-index: 0;
}

.homepage-slider-container{
    background-color: var(--secondary-bg-color);
    width: 675px;
    border-radius: 16px;
    padding: 16px;
    margin: 8px 8px;
}

.homepage-slider-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.homepage-slider-btn{
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 8px 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
    font-size: 12px;
    width: 150px;
    cursor: pointer;
}