.portfolio-search-main-container{
    background-color: var(--secondary-bg-color);
    margin-left: 24px;
    padding: 16px;
    border-radius: 16px;
}

.portfolio-search-container{
    width: 250px;
    display: flex;
    flex-direction: column;
}

.portfolio-search-header, .portfolio-search-account, .portfolio-search-coin, .portfolio-search-coin-search-field, .portfolio-search-add-field, .portfolio-search-summary{
    margin-bottom: 20px;
}

.coin-search-field, .coin-current-price, .coin-current-mcap, .coin-add-field, .summary-position, .summary-coin, .summary-amount{
    margin-bottom: 4px;
}

.portfolio-search-coin{
    display: flex;
    flex-direction: column;
}

.portfolio-search-coin-stats{
    display: flex;
    justify-content: flex-start;
}

.portfolio-search-coin-search-field, .portfolio-search-add-field{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.coin-search-results{
    background-color: var(--primary-bg-color);
    position:absolute;
    top:43%;
    height:200px;
    width:251px;
    padding: 8px;
    animation: input 0.5s ease 0s 1 normal forwards;
    overflow: scroll;
    border-radius: 16px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
}

.coin-list-container{
    cursor:pointer;
}

.coin-list-container:hover{
    border:solid 1px gray;
}

.summary-position{
    text-decoration: underline;
}

#coin-search-field, #coin-add-field{
    border: none;
    padding: 8px 4px;
    margin-bottom: 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
}

.coin-current-price-display, .coin-current-mcap-display{
    border: none;
    padding: 6px 4px;
    height: 30px;
    margin-bottom: 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
    width: 120px;
}

.coin-current-price-display{
    margin-right: 8px;
}

.portfolio-search-summary, .portfolio-search-account{
    border: none;
    padding: 8px 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
}

.btn-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-btn{
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 8px 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
    width: 110px;
    font-size: 16px;
}

.clear-btn{
    background-color: var(--primary-bg-color);
    color: var(--secondary-text-color);
    border: none;
    padding: 8px 4px;
    box-shadow: 1px 1px 3px var(--primary-bg-color);
    border-radius: 4px;
    width: 110px;
    font-size: 16px;
}

@media (max-width: 1160px){

    .portfolio-search-main-container{
        margin-bottom: 16px;
        margin-left: 0px;
    }

    .portfolio-search-container{
        width: 450px;
        display: grid;
        grid-template: auto auto auto auto auto/ 60% 40%;
        grid-template-areas: 
        'header header'
        'id id'
        'search summary'
        'amount btn';
    }

    .coin-search-results{
        top:41.8%;
        height:180px;
    }

    .portfolio-search-header{
        grid-area: header;
    }

    .portfolio-search-account{
        grid-area: id;
    }

    .portfolio-search-coin{
        grid-area: search;
    }

    .portfolio-search-add-field{
        grid-area: amount;
    }

    .portfolio-search-summary{
        grid-area: summary;
    }

    .btn-container{
        grid-area: btn;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .add-btn{
        margin-bottom: 0px;
    }

    .add-btn, .clear-btn{
        width: 80px;
    }
    
    }

    @media (max-width: 600px){

        .portfolio-search-main-container{
            margin-bottom: 16px;
            margin-left: 0px;
        }
    
        .portfolio-search-container{
            width: 250px;
            display: grid;
            grid-template: auto auto auto auto auto auto auto / 100%;
            grid-template-areas: 
            'header'
            'id'
            'search'
            'amount'
            'summary'
            'btn';
        }

        .coin-search-results{
            height:200px;
        }
        
        }